<nav class="main-desktop" aria-label="Main Navigation" role="navigation">
	{% for nav_item in main_nav %}
	<div class="dropdown">
		<button
			class="dropdown-menu-button"
			type="button"
			aria-expanded="false"
			aria-controls="dropdown-{{ forloop.index }}"
		>
			<span>{{ nav_item.title }}</span> {{ "/src/assets/svgs/hero/chevron-right.svg" | svgContents }}
		</button>
  <div class="dropdown-menu" id="dropdown-{{ forloop.index }}">
	<div class="dropdown-content" >
	  <section class="highlight">
		<a href="{{ nav_item.overview.link }}">
		  <div class="media">
			{% image nav_item.overview.media.image nav_item.overview.media.alt 300 %}
		  </div>
		  <span>{{ nav_item.overview.title }}</span>
		</a>
	  </section>
	  {% for section in nav_item.sections %}
	  <section>
		<header>{{ section.title }}</header>
		<ul>
		  {% for item in section.items %}
		  <li>
			<a href="{{ item.link }}">
			  {{ item.title }}
			</a>
		  </li>
		  {% endfor %}
		</ul>
	  </section>
	  {% endfor %}
	</div>
  </div>
	</div>
	{% endfor %}
</nav>