<section>
	<div class="wrapper cards">
        {% for card in cards %}
		<div class="card">
			<div class="media">
				{% image card.media.image.url card.media.image.alt 500 %}
			</div>
			<div class="text">
				<h3>
					<a href="{{ card.heading.url }}">
						{{ card.heading.text }}
					</a>
				</h3>
				<p>{{ card.text }}</p>
			</div>
		</div>
        {% endfor %}
	</div>
</section>