<section>
	<div class="wrapper cards">
        {% for card_container in cards %}
        {% assign card = card_container.card %}
		<div class="card">
			<div class="media">
				{% image card.media.url, card.media.alt, 500 %}
			</div>
			<div class="text">
				<h3>
					<a href="{{ card.heading.url }}">
						{{ card.heading.text }}
					</a>
				</h3>
				<p>{{ card.text }}</p>
			</div>
		</div>
        {% endfor %}
	</div>
</section>