


.icon {
	width: 1.4rem;
	height: 1.4rem;
	background: none;
	border: 0;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	border-radius: 20em;
	transition: background 100ms ease-out;

	svg {
		transition: opacity 300ms ease-out;
		padding: .3rem;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}

	&:hover {
		background: rgba(0,0,0,.2);
		svg {
			opacity: 1;
		}
	}
}


.dark .icon:hover {
	background: rgba(255,255,255,.2);
}

.highlight-video {
	object-fit: cover;
	object-position: center;
	height: 500px;
	width: 100%;
}

.card {
	background: var(--bright-background);
	position: relative;
	border-radius: var(--small-border-radius);
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	
	.media {
		width: 100%;
		height: 200px;
		overflow: hidden;
		img {
			object-fit: cover;
			object-position: center;
			height: 100%;
			width: 100%;
			transition: transform 250ms ease;
		}
	}

	&:hover {
		.media img {
			transform: scale(1.1);
		}
	}

	.text {
		padding: 1rem;

		h3 {
			margin-top: 0;
	
			a::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	column-gap: 1rem;
	row-gap: 1rem;
}

footer.main {
	padding-bottom: .5rem;

	a {
		text-decoration: none;
		opacity: .8;

		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}

	.top {
		padding: 2rem 0;
		h4 {
			margin-bottom: 1rem;
		}

		nav {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

			a {
				display: block;
			}
		}
	}
	.bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-top: 1rem;
		
		font-size: var(--font-size-sm);
		nav {
			display: flex;
			column-gap: 1rem;
			align-items: center;
		}
		.socials {
			display: flex;
			justify-content: end;
			column-gap: .5rem;

			.icon {
				width: 2rem;
				height: 2rem;

				svg {
					stroke: var(--on-dark-text);
				}
			}
		}
	}
}

.split-with-image {
	display: flex;
	flex-wrap: wrap;
	background: var(--bright-background);
	border-radius: var(--small-border-radius);
	.col {
		flex-basis: 315px;
		flex-grow: 1;
	}

	.col.img-cover:first-child img {
		border-top-left-radius: var(--small-border-radius);
		border-bottom-left-radius: var(--small-border-radius);
	}

	.col.img-cover:last-child img {
		border-top-right-radius: var(--small-border-radius);
		border-bottom-right-radius: var(--small-border-radius);
	}

	.content {
		padding: 2rem;
	}

	.img-cover img {
		object-fit: cover;
		object-position: center;
		min-height: 400px;
		height: 100%;
		width: 100%;
		aspect-ratio: 1/1;
	}
}

.button {
	background: var(--primary);
	color: var(--on-dark-text);
	text-decoration: none;
	border: 0;
	border-radius: var(--small-border-radius);
	padding: var(--space-size-sm) var(--space-size-sm);
	cursor: pointer;
	transition: background 200ms ease-out;
	font-size: var(--font-size-md);
	font-weight: bold;
	display: inline-block;

	&:hover {
		background: var(--primary-dark);
	}

	&.push-top {
		margin-top: var(--space-size-sm);
	}
}

.stats {
	container-type: inline-size;
	container-name: stats-container;
	dl {
		display: grid;
		grid-template-columns: 1fr;
		background: var(--primary);
		color: var(--on-dark-text);
		border: 1px solid #333;
		width: 100%;
		padding: var(--space-size-sm) var(--space-size-lg);
		border-radius: var(--large-border-radius);
		margin-top: 4rem;

		.stat {
			display: flex;
			flex-direction: column-reverse;
			flex-grow: 1;
			padding: var(--space-size-lg) 0;
		}

		dt {
			text-align: center;
		}

		dd {
			margin-left: 0;
			font-size: var(--font-size-xxxl);
			text-align: center;
			line-height: var(--line-height-sm);
		}
	}
}

@container stats-container (min-width: 450px) {
	.stats dl {
		grid-template-columns: repeat(2, 1fr);
	}
}



@container stats-container (min-width: 900px) {
	.stats dl {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

.full-image {
	background-position: center;
	background-size: cover;
	min-height: 600px;
	padding-top: var(--space-size-xs);
	position: relative;
	color: var(--on-dark-text);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 350px;
		background: linear-gradient(0deg, rgba(0,0,0,0) 0%, black 80%);
		z-index: 1;
	}

	.wrapper {
		position: relative;
		z-index: 2;
	}
}

.events {
	background: var(--bright-background);
	margin-top: -50px;
	position: relative;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--small-border-radius);
	padding: var(--space-size-md) 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	.event {
		text-align: center;
		border-right: 1px solid var(--light-border);
		padding: 0 var(--space-size-sm);

		&:last-child {
			border-right: 0;
		}

		time {
			font-size: var(--font-size-lg);
			color: var(--primary);
		}

		h3 {
			margin-top: var(--space-size-xs);
		}
		
		p {
			color: var(--light-text);
			font-size: var(--font-size-md);
		}
	}
}