html {
	--primary: #1d3c6b;
    --primary-dark: #0d192b;
    --primary-text: #5a5e63;
    --light-text: #787cad;
    --dark-text: #242424;
	--on-dark-text: white;
    --dark-border: #aca8d4;
    --light-border: #e0e0e0;
    --background: #eef3f7;
    --bright-background: white;
	--soft-highlight: #f5f5f5;
	--link: black;

    --font-size-xxxl: 3rem;
    --font-size-xxl: 2.25rem;
    --font-size-xl: 1.5rem;
    --font-size-lg: 1.2rem;
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;

    --line-height-xxxl: 2.5;
    --line-height-xxl: 2;
    --line-height-xl: 1.75;
    --line-height-lg: 1.5;
    --line-height-md: 1.25;
    --line-height-sm: 1;
    --line-height-xs: 0.875;

    --space-size-xxxl: 5rem;
    --space-size-xxl: 4rem;
    --space-size-xl: 3rem;
    --space-size-lg: 2rem;
    --space-size-md: 1.5rem;
    --space-size-sm: 1rem;
    --space-size-xs: 0.5rem;

    --large-border-radius: 10px;
    --medium-border-radius: 5px;
    --small-border-radius: 3px;
}
