
header.top {
	background: var(--bright-background);
	nav.sub {
		font-size: var(--font-size-md);
		padding: .25rem;

		.wrapper {
			display: flex;
			column-gap: .8rem;
			flex-wrap: wrap;
			align-items: center;
			justify-content: end;
		}
				
		a {
			text-decoration: none;
			opacity: .8;
			&:hover {
				text-decoration: underline;
				opacity: 1;
			}
		}
		
	}
}


.logo-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;

	h1 {
		margin: 0;
		padding: 0;
		line-height: 1rem;
	}

	nav.main {
		font-size: 1.2rem;
		display: flex;
		column-gap: 1rem;
		align-items: center;

		a, button {
			text-decoration: none;
			text-underline-offset: .3ex;
			border: 0;
			background: none;
			cursor: pointer;
		}

		a:hover, button:hover span {
			text-decoration: underline;
			text-decoration-thickness: 2px;
			text-decoration-color: var(--primary);
		}

		.dropdown > button svg {
			height: .8em;
			position: relative;
			top: 3px;
			transition: all 250ms ease;
		}

		.dropdown.is-active {
			.dropdown-content {
				display: grid;
			}

			> button svg {
				transform: rotate(90deg);
			}
		}

		.dropdown-content {
			display: none;
			border-top: 2px solid var(--light-border);
			box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.08) 0px 24px 30px 4px;
			border-bottom-left-radius: var(--small-border-radius);
			border-bottom-right-radius: var(--small-border-radius);
			padding: var(--space-size-md);
			position: absolute;
			left: 0;
			right: 0;
			margin-top: 1.5rem;
			background: var(--bright-background);
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-gap: 1em;
			z-index: 100;

			header {
				color: var(--light-text);
				text-transform: uppercase;
				font-size: var(--font-size-sm);
			}

			section.highlight {
				padding: var(--space-size-md);
				padding-right: var(--space-size-lg);
				text-align: center;

				.media {
					width: 100%;
					aspect-ratio: 1.5/1;
					overflow: hidden;
					border-radius: var(--small-border-radius);
					img {
						object-fit: cover;
						object-position: center;
						height: 100%;
						width: 100%;
						transition: all 250ms ease;
					}
				}

				a:hover img {
					transform: scale(1.1);
				}
			}

			ul {
				list-style: none;
				padding: 0;

				li {
					margin: var(--space-size-xs) 0;
				}

				a {
					text-decoration: none;
					color: var(--dark-text);
					opacity: .8;
					font-weight: bold;
					&:hover {
						opacity: 1;
						text-decoration: underline;
					}
				}
			}
		}
	}
}